<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angular Translate Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="index.js"></script>
</head>

<body ng-app="test">
    <div ng-controller="testCtrl" class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
               <h2>{{title}} <small>{{subtitle}}</small></h2>
            </div>
            <div class="col-xs-12 well">
               <p translate="content.firstline"></p>
               <p>{{"content.secondline" | translate}}</p>
               <p>{{"content.hello" | translate:'{ name: "PascalPrecht" }'}}</p> 
            </div>
            <div class="col-xs-12">
               <button ng-click="changeLanguage('zh')" translate="BUTTON_LANG_ZH" class="btn btn-default"></button>
               <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN" class="btn btn-default"></button>
            </div>
        </div>
    </div>
</body>

</html>

