body{
  margin: 0;
}
img{
  width: 100%;
  max-width: 100%;
  float:left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.inner{
  padding:20px;
  background: #f5f5f5;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}